NEXT_PUBLIC_PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_CLIENT_SECRET=your_paypal_client_secret
PAYPAL_ENV=sandbox
RESEND_API_KEY=optional_resend_api_key
EMAIL_FROM="Móntate en mi viaje <no-reply@montateenmiviaje.com>"
